h2 {
  font-size: 1.65rem;
  font-weight: 300;
  color: rgb(42, 65, 71);
}

form {
  margin: auto;
  width: 60%;
  border-style: none;
  border-color: rgb(187, 189, 186);
  border-radius: 0.3125rem;
}

input {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(51, 66, 74);
}

.form-group {
  margin: 10px auto 0 auto;
}

.form-control {
  display: block;
  width: 100%;
  height: 3.5rem;
  border-style: solid;
  border-width: thin;
  border-color: rgb(187, 189, 186);
  border-radius: 0.3125rem;
}

.validationError {
  font-size: 0.8rem;
  font-weight: 100;
  color: rgb(216,0,0);
}

.btn-custom {
  display: block;
  width: 100%;
  height: 3.5rem;
  margin: 1.25rem auto 0 auto;
  background-color: rgb(42, 65, 71);
  cursor: pointer;
  color: #fff;
}

.loginLinks {
  font-size: 1rem;
  font-weight: 200;
  color: rgb(51, 66, 74);
  text-decoration: none;
}

.loginLinks:hover {
  text-decoration: underline;
}

#registerPage {
  height: 100%;
  padding: 2rem;
  overflow-x: hidden;
  background-color: rgb(253, 226, 219);
}