<div id="registerPage" class="container-fluid">
  <h2 class="text-center">Create your account</h2>
  <form [formGroup]="registerForm"
        (ngSubmit)="onRegister()">
    <div class="form-group">
      <label for="first_name">Enter your first name</label>
      <input id="first_name"
             type="text"
             class="form-control"
             formControlName="first_name">
    </div>
    <p *ngIf="registerForm.controls.first_name.invalid"
       class="validationError">This field cannot be empty.
    </p>
    <div class="form-group">
      <label for="last_name">Enter your last name</label>
      <input id="last_name"
             type="text"
             class="form-control"
             formControlName="last_name">
    </div>
    <p *ngIf="registerForm.controls.last_name.invalid"
       class="validationError">This field cannot be empty.
    </p>
    <div class="form-group">
      <label for="username">Choose your username</label>
      <input id="username"
             type="text"
             class="form-control"
             formControlName="username">
    </div>
    <p *ngIf="registerForm.controls.username.invalid"
       class="validationError">This field cannot be empty.
    </p>
    <div class="form-group">
      <label for="email">Enter your email</label>
      <input id="email"
             type="email"
             class="form-control"
             formControlName="email">
    </div>
    <p *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.errors.required"
       class="validationError">This field cannot be empty.
    </p>
    <p *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.errors.pattern"
       class="validationError">This is not a valid email address.
    </p>
    <div class="form-group">
      <label for="password">Choose your password</label>
      <input id="password"
             type="password"
             class="form-control"
             formControlName="password">
    </div>
    <p *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.errors.required"
       class="validationError">This field cannot be empty.
    </p>
    <p *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.errors.minlength"
       class="validationError">Your password must be at least 6 characters long.
    </p>
    <div class="form-group">
      <label for="confirm_password">Confirm your password</label>
      <input id="confirm_password"
             type="password"
             class="form-control"
             formControlName="confirm_password">
    </div>
    <p *ngIf="registerForm.hasError('passwordsDontMatch')"
       class="validationError">Passwords must match.
    </p>
    <button type="submit"
            class="btn btn-custom"
            [disabled]="!formValid">Register
    </button>
    <div class="col text-center mt-1">
      <a class="loginLinks" routerLink="/">Go back</a>
    </div>
  </form>
</div>