# Backend
backend/env


# Frontend
# compiled output
/dist
frontend/petappgui/tmp
frontend/petappgui/out-tsc
# Only exists if Bazel was run
frontend/petappgui/bazel-out

# dependencies
frontend/petappgui/node_modules

# profiling files
frontend/petappgui/chrome-profiler-events*.json
frontend/petappgui/speed-measure-plugin*.json

# IDEs and editors
frontend/petappgui/.idea
frontend/petappgui/.project
frontend/petappgui/.classpath
frontend/petappgui/.c9/
frontend/petappgui/*.launch
frontend/petappgui/.settings/
frontend/petappgui/*.sublime-workspace

# IDE - VSCode
frontend/petappgui/.vscode/*
frontend/petappgui/!.vscode/settings.json
frontend/petappgui/!.vscode/tasks.json
frontend/petappgui/!.vscode/launch.json
frontend/petappgui/!.vscode/extensions.json
frontend/petappgui/.history/*

# misc
frontend/petappgui/.sass-cache
frontend/petappgui/connect.lock
frontend/petappgui/coverage
frontend/petappgui/libpeerconnection.log
frontend/petappgui/npm-debug.log
frontend/petappgui/yarn-error.log
frontend/petappgui/testem.log
frontend/petappgui/typings

# System Files
frontend/petappgui/.DS_Store
frontend/petappgui/Thumbs.db
