<div id="petList" class="container-fluid mt-3">
  <div class="row no-gutters">
    <div id="leftCol" class="col-3 text-center">
      <span class="mt-5">You got another one, didn't you?</span>
      <button class="btn btn-custom mt-3"
              type="button"
              routerLink="/main/edit-pet"
              [queryParams]="{selectedId: 0}">
              <i class="fa fa-paw"></i> Yes!
      </button>
    </div>
    <div class="col container text-center">
      <div *ngFor="let pet of pets">
        <img *ngIf="pet.pet_photo" src="{{pet.pet_photo}}" class="card-img-top img-fluid">
        <img *ngIf="!pet.pet_photo" src="/assets/images/pet_placeholder.jpeg" class="card-img-top img-fluid">
        <div class="card-body text-left">
          <h5 class="card-title">{{pet.name}}</h5>
          <!-- show pet age next to name -->
          <a class="btn btn-custom"
              routerLink="/main/pet-info"
              [queryParams]="{selectedId: pet.id}">Details</a>
        </div>
      </div>
   </div>
  </div>
</div>
