<div id="appointmentInfo" class="container-fluid">
  <div class="row align-items-center mt-3">
    <div id="info" class="col-xs-12 col-lg-6 text-left">
      <h2>
        <i class="fa fa-user-md"></i> Appointment for {{appointment.pet_name}}
      </h2>
      <h4>at {{appointment.vet_name}} vet</h4>
      <h4>on {{ appointment.date | date:"fullDate" }} at {{appointment.time}}</h4>
      <h4>Notes: {{appointment.notes}}</h4>
      <div class="row no-gutters align-items-center">
        <div class="col-xs-12 col-sm-4">
          <button id="back"
                  class="btn"
                  (click)="goBack()">GO BACK
          </button>
        </div>
        <div class="col-xs-12 col-sm-4">
          <button id="edit"
                  class="btn"
                  routerLink="/main/edit-appointment"
                  [queryParams]="{selectedId: appointment.id}">EDIT INFO
          </button>
        </div>
        <div class="col-xs-12 col-sm-4">
          <button id="delete"
                  class="btn"
                  (click)="deleteAppointment()">DELETE INFO
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 text-center">
      <img class="img-fluid" src="assets/images/appointment_info.jpg">
      <a id="appInfoImage"
         href="https://www.freepik.com/vectors/people">Designed by pch.vector - www.freepik.com
      </a>
    </div>
 </div>
</div>