<p>{{appointment.pet_name}}</p>
<p>{{appointment.vet_name}}</p>
<p>{{appointment.date}}, {{appointment.time}}</p>
<p>Notes: {{appointment.notes}}</p>

<div>
  <button class="btn btn-light" type="button" (click)="goBack()">Back</button>
</div>

<div>
  <button class="btn btn-success"
          type="button"
          routerLink="/main/edit-appointment"
          [queryParams]="{selectedId: appointment.id}">Edit</button>
</div>

<div>
  <button class="btn btn-danger" type="button" (click)="deleteAppointment()">Delete</button>
</div>
