@font-face {
    font-family: 'Mulish';
    src: url('/assets/fonts/Black/Mulish-Black.woff2') format('woff2'),
         url('/assets/fonts/Black/Mulish-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('/assets/fonts/Bold/Mulish-Bold.woff2') format('woff2'),
         url('/assets/fonts/Bold/Mulish-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('/assets/fonts/Light/Mulish-Light.woff2') format('woff2'),
         url('/assets/fonts/Light/Mulish-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('/assets/fonts/Medium/Mulish-Medium.woff2') format('woff2'),
         url('/assets/fonts/Medium/Mulish-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mulish';
    src: url('/assets/fonts/Regular/Mulish-Regular.woff2') format('woff2'),
         url('/assets/fonts/Regular/Mulish-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
