<div id="home" class="container-fluid">
  <div class="row no-gutters">
    <div id="firstCol" class="col text-center">
      <!-- TO DO - show appointments for the week -->
      <h1>Appointments to be shown here!</h1>
    </div>
    <div class="col container text-left">
      <div class="container">
        <div class="jumbotron jumbotron-fluid">
          <h1 class="display-4">True or false?</h1>
          <p class="lead">{{animalTriviaQuestion}}</p>
          <hr class="my-4">
          <!-- TO DO - add button to show the answer -->
          <p>{{animalTriviaAnswer}}</p>
          <p class="lead">Another one?</p>
          <button class="btn btn-custom" (click)="getAnotherTrivia()">YES</button>
        </div>
      </div>
    </div>
  </div>
</div>