<div id="lp" class="container-fluid mt-3">
  <div class="row no-gutters align-items-center">
    <div class="col text-center">
      <div class="mx-5">
        <h1>Keep all your pet's appointments and medical history in one place!</h1>
      </div>
      <div class="row no-gutters mx-4 mt-5">
        <div class="col text-center">
          <div id="register" class="buttons">
            <a class="button" routerLink="/auth/register">Register</a>
          </div>
        </div>
        <div class="col text-center">
          <div id="login" class="buttons">
            <a class="button" routerLink="/auth/login">Log in</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <img class="img-fluid" src="assets/images/landing_page.jpg">
      <a id="lpImage"
         href="https://www.freepik.com/vectors/design"
         target="_blank">
         Design vector created by freepik - www.freepik.com</a>
    </div>
  </div>
</div>
