<div class="landing-page">

  <div class="container-fluid row align-items-center">
    <div class="col-xs-12 col-lg-6 text-center">
      <div class="d-none d-lg-block">
        <h1>KEEP ALL YOUR PET'S APPOINTMENTS AND MEDICAL HISTORY IN ONE PLACE!</h1>
      </div>
      <div class="row align-items-center">
        <div class="col-xs-12 col-sm-6">
          <div id="registerButton" class="buttons">
            <a class="button" routerLink="/auth/register">REGISTER</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div id="loginButton" class="buttons">
            <a class="button" routerLink="/auth/login">LOG IN</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 text-center">
      <img class="img-fluid" src="assets/images/landing_page.jpg">
      <a id="landingPageImage"
         href="https://www.freepik.com/vectors/design"
         target="_blank">
         Designed by freepik - www.freepik.com
      </a>
    </div>
  </div>
  
</div>