<div id="landing" class="container-fluid">
  <div class="row no-gutters align-items-center">
    <div class="col-xs-12 col-lg-6 text-center">
      <div class=" d-none d-lg-block mx-5">
        <h1>Keep all your pet's appointments and medical history in one place!</h1>
      </div>
      <div class="row no-gutters align-items-center mx-1 mt-5">
        <div class="col-xs-12 col-lg-6 text-center">
          <div id="register" class="buttons">
            <a class="button" routerLink="/auth/register">Register</a>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 text-center">
          <div id="login" class="buttons">
            <a class="button" routerLink="/auth/login">Log in</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6 text-center">
      <img class="img-fluid" src="assets/images/landing_page.jpg">
      <a id="lpImage"
         href="https://www.freepik.com/vectors/design"
         target="_blank">
         Designed by freepik - www.freepik.com
      </a>
    </div>
  </div>
</div>
