h1 {
  font-size: 1.75rem;
  font-weight: 400;
  color: rgb(51, 66, 74);
}
.buttons {
  width: 100%;
  height: 5rem;
  padding: 1.40rem;
  border-radius: 3.125rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.button {
  display: block;
  color: #fff;
}
.button:hover {
  color: rgb(51, 66, 74);
  text-decoration: none;
}
#landing {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(248, 240, 241);
  /* remove scroll from page */
}
#register {
  background-color: rgb(252, 108, 108);
}
#login {
  background-color: rgb(255, 172, 81);
}
#lpImage {
  display: block;
  font-size: 0.75rem;
  font-weight: 100;
  color: rgb(51, 66, 74);
  text-decoration: none;
}
