<div id="appointmentList" class="container-fluid">
  <div class="row">
    <div id="leftCol" class="col-xs-12 col-lg-4 text-center">
      <p>Need to schedule an appointment?</p>
      <button class="btn btn-custom"
             routerLink="/main/edit-appointment"
             [queryParams]="{selectedId: 0}">
             <i class="fa fa-stethoscope"></i> YES
      </button>
    </div>
    <div class="col-xs-12 col-lg-8 text-left">
      <div class=list-group>
        <a *ngFor="let appointment of appointments"
           class="list-group-item list-group-item-action"
           routerLink="/main/appointment-info"
           [queryParams]="{selectedId: appointment.id}">
           <h4>{{appointment.pet_name}} going to {{appointment.vet_name}}</h4>
           <h5 class="inactiveLink">{{ appointment.date | date:"fullDate" }} at {{appointment.time}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>