<div class="container">
  <div class="list-group">
    <a *ngFor="let appointment of appointments" class="list-group-item list-group-item-action"
        routerLink="/main/appointment-info"
        [queryParams]="{selectedId: appointment.id}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{appointment.date}} </h5>
        <small>{{appointment.time}}</small>
      </div>
      <p class="mb-1">{{appointment.pet_id}}</p>
    </a>
  </div>
  <button class="btn btn-light" type="button" routerLink="/main/add-appointment">Add appointment</button>
</div>
