<div id="loginPage" class="container-fluid mt-2">
  <div class="row no-gutters align-items-center">
    <div class="col text-center">
      <h1><i class="fa fa-paw"></i></h1>
      <form id="loginForm"
            class="mt-2"
            [formGroup]="loginForm"
            (ngSubmit)="onLogin()">
        <div class="form-group">
          <input id="username"
                 type="text"
                 class="form-control"
                 formControlName="username"
                 placeholder="Username">
        </div>
        <p *ngIf="loginForm.controls.username.invalid"
           class=" text-left validationError">This field cannot be empty.
        </p>
        <div class="form-group">
          <input id="password"
                 type="password"
                 class="form-control"
                 formControlName="password"
                 placeholder="Password">
        </div>
        <p *ngIf="loginForm.controls.password.invalid"
           class="text-left validationError">This field cannot be empty.
        </p>
        <button type="submit"
                class="btn btn-custom mt-4"
                [disabled]="!loginForm.valid">Log in
        </button>
        <div class="mt-3">
          <a class="loginLinks" routerLink='/'>Go back</a>
        </div>
      </form>
    </div>
    <div class="col text-center">
      <img class="img-fluid" src="assets/images/login_page.jpeg">
      <a id="loginImage"
         href="https://www.freepik.com/vectors/people"
         target="_blank">
         Designed by pikisuperstar - www.freepik.com
      </a>
    </div>
  </div>
</div>
