.login-page {
  box-sizing: border-box;
  height: 100vh;
  align-items: center;
  justify-items: center;
  padding: 14rem 3rem;
  background-color: rgb(252, 243, 236);
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  color: rgb(51, 66, 74);
}

form {
  margin: auto;
  width: 50%;
  border-style: none;
  border-color: rgb(187, 189, 186);
  border-radius: 0.3125rem;
  background-color: rgb(252, 243, 236);
}

input {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(51, 66, 74);
}

.form-control {
  display: block;
  width: 100%;
  height: 3.5rem;
  border-style: solid;
  border-width: thin;
  border-color: rgb(187, 189, 186);
  border-radius: 0.3125rem;
}

.validationError {
  font-size: .8rem;
  font-weight: 100;
  color: rgb(216,0,0);
}

.btn-custom {
  display: block;
  width: 100%;
  height: 4rem;
  background-color: rgb(42, 65, 71);
  cursor: pointer;
  color: #fff;
}

.login-link {
  font-size: 1rem;
  font-weight: 200;
  color: rgb(51, 66, 74);
  text-decoration: none;
}

.loginLink:hover,
.login-link:active {
  text-decoration: underline;
}

.img-attrib {
  display: block;
  font-size: .75rem;
  font-weight: 100;
  color: rgb(51, 66, 74);
  text-decoration: none;
}