.petImage {
  width: 11rem;
  height: 11rem;
  border-radius: 10%;
}
#petImage {
  width: 10rem;
  height: 10rem;
  border-radius: 10%;
}
span, h4 {
    color: rgb(51, 66, 74);
}
span {
  font-size: 1.7rem;
  font-weight: 400;
}
h4 {
  font-size: 1.3rem;
  font-weight: 300;
}
#petInfo {
  padding-bottom: 1rem;
  margin: 3rem auto 0 auto;
  overflow-x: hidden;
  background-color: rgb(236, 236, 236);
  /* remove scroll from page */
}
#info {
  margin: auto 5rem auto 5rem;
  padding: 3rem;
  border-style: outset;
  border-width: thin;
  border-color: rgb(187, 189, 186);
  border-radius: 0.3125rem;
  background-color: rgb(236, 236, 236);
}
#back, #edit, #delete {
  display: block;
  width: 99%;
  height: 3.5rem;
  cursor: pointer;
  color: #fff;
}
#back {
  background-color: rgb(91, 104, 108);
}
#edit {
  background-color: rgb(255, 151, 160);
}
#delete {
  background-color: rgb(255, 79, 90);
}
#petInfoImage, #petPlaceImage {
  display: block;
  font-size: 0.75rem;
  font-weight: 100;
  color: rgb(51, 66, 74);
  text-decoration: none;
}
#petPlaceImage {
  padding-left: 7rem;
}
