<div id="petInfo" class="container-fluid">
  <div class="row no-gutters mt-3">
    <div id="info" class="col text-left">
      <div class="row no-gutters">
        <div class="col text-left mt-5">
          <span>
              <i class="fa fa-paw"></i> {{pet.name}}'s info
          </span>
        </div>
        <div class="col text-right">
          <img *ngIf="pet.pet_photo" src="{{pet.pet_photo}}" class="img-fluid petImage">
          <span *ngIf="!pet.pet_photo">
            <img id="petImage"
                 class="img-fluid"
                 src="/assets/images/pet_placeholder.jpeg" >
          </span>
          <a *ngIf="!pet.pet_photo"
             id="petPlaceImage"
             class="text-center mt-2"
             href="https://www.freepik.com/vectors/background"
             target="_blank">
             Designed by rawpixel.com - www.freepik.com
          </a>
        </div>
      </div>
      <h4>{{pet.sex}}</h4>
      <h4>{{pet.type}}</h4>
      <h4>Breed: {{pet.breed}}</h4>
      <h4>Birthday: {{ pet.date_of_birth | date:'longDate' }}</h4>
      <h4>Microchip: {{pet.microchip_no}}</h4>
      <h4>Passport info: {{pet.passport_no}}</h4>
      <!-- TO DO - show all appointments for the pet -->
      <div class="row no-gutters align-items-center mt-5">
        <div class="col-4">
          <button id="addAppointment"
                  class="btn"
                  (click)="addAppointment()">Add appointment
          </button>
        </div>
        <div class="col-4">
          <button id="edit"
                  class="btn"
                  routerLink="/main/edit-pet"
                  [queryParams]="{selectedId: pet.id}">Edit info
          </button>
        </div>
        <div class="col-4">
          <button id="delete"
                  class="btn btn-custom"
                  (click)="deletePet()">Delete info
          </button>
        </div>
      </div>
      <div class="text-center mt-3">
        <a class="backLink" (click)="goBack()">Go back</a>
      </div>
    </div>
    <div class="col text-center mt-5">
      <img class="img-fluid" src="assets/images/pet_info.jpeg">
      <a id="petInfoImage"
         href="https://www.freepik.com/vectors/people">Designed by stories - www.freepik.com
      </a>
    </div>
  </div>
</div>
