<nav id="mainNavbar" class="navbar navbar-custom navbar-expand-md fixed-top">
  <a class="navbar-brand" routerLink="/auth/login"><i class="fa fa-paw"></i> PETBOOK</a>
  <!-- TO DO - add functionality for toggle navigation -->
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fa fa-bars" style="color:rgb(251, 211, 212); font-size:25px;"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="isLoggedIn$ | async"
           class="nav-link"
           [routerLink]="'/main/pets'">PETS
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn$ | async"
           class="nav-link"
           [routerLink]="'/main/appointments'">APPOINTMENTS
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-auto">
        <button *ngIf="isLoggedIn$ | async"
                class="btn btn-custom"
                (click)="onLogout()">LOG OUT
        </button>
      </li>
    </ul>
  </div>
</nav>