<nav id="mainNavbar" 
     class="navbar navbar-custom navbar-expand-md fixed-top">
  
  <a class="navbar-brand" 
     routerLink="/auth/login">
    <i class="fa fa-paw"></i> PETBOOK
  </a>

  <button type="button"
          class="navbar-toggler" 
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="navLinks"
          aria-label="Toggle navigation"
          data-toggle="collapse" 
          data-target="#navLinks">
    
    <span *ngIf="isLoggedIn$ | async"
          class="navbar-toggler-icon">
      <i *ngIf="isCollapsed" class="fa fa-bars" 
         style="color:rgb(251, 211, 212); font-size:25px; font-weight:lighter;"></i>
      <i *ngIf="!isCollapsed" class="fa fa-times" 
         style="color:rgb(251, 211, 212); font-size:25px; font-weight:lighter;"></i>
    </span>

  </button>

  <div id="navLinks"
       class="collapse navbar-collapse"
       [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a *ngIf="isLoggedIn$ | async"
           class="nav-link"
           (click)="isCollapsed = true"
           [routerLink]="'/main/pets'">PETS
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="isLoggedIn$ | async"
           class="nav-link"
           (click)="isCollapsed = true"
           [routerLink]="'/main/appointments'">APPOINTMENTS
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-auto">
        <button *ngIf="isLoggedIn$ | async"
                class="btn btn-custom"
                (click)="isCollapsed = true"
                (click)="onLogout()">LOG OUT
        </button>
      </li>
    </ul>
  </div>

</nav>