@import 'assets/scss/modules/_fonts.scss';

html {
  height: 100vh;
}
body {
  font-family: 'Mulish', sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-top: 62px !important;
}