/* You can add global styles to this file, and also import other style files */
html {
  overflow-x: hidden;
  height: 100vh;
}
body {
  overflow: auto;
  width: 100%;
  height: 95vh;
  margin: 0 !important;
  padding: 0 !important;
}
