<div id="notFound" class="container-fluid">
  <div class="row align-items-center">
    <div class="col-xs-12 col-lg-6 text-center">
      <h1>404: OH NO!</h1>
      <h2>JUST ME HERE ...</h2>
      <a class="btn btn-custom mt-4"
         [routerLink]="'/main/'">
         HOME PAGE
      </a>
    </div>
    <div class="col-xs-12 col-lg-6 text-center">
      <img class="img-fluid" src="assets/images/404_page.jpg">
      <a id="image404"
         href="https://www.freepik.com/vectors/animal"
         target="_blank">
         Designed by stories - www.freepik.com
      </a>
    </div>
  </div>
</div>