h1, h2 {
  font-weight: 300;
  font-size: 1.8rem;
  color: rgb(51, 66, 74);
}
.btn-custom {
  height: 4rem;
  width: 12rem;
  padding: 1rem;
  background-color: rgb(232, 80, 92);
  border-radius: 3.125rem;
  cursor: pointer;
  color: #fff;
}
.btn-custom:hover {
  color: rgb(51, 66, 74);
}
#notFound {
  padding: 1rem;
  overflow: hidden;
}
#image404 {
  display: block;
  font-size: 0.75rem;
  font-weight: 100;
  color: rgb(51, 66, 74);
  text-decoration: none;
}