<div id="notFound" class="container-fluid mt-4">
  <div class="row no-gutters align-items-center">
    <div class="col text-center">
      <h1>404: Oh no!</h1>
      <h2>There's nothing here but me!</h2>
      <h3>Go back to safety</h3>
      <a class="btn btn-custom mt-4"
         [routerLink]="'/main/'">
         Back to home page
      </a>
    </div>
    <div class="col text-center">
      <img class="img-fluid" src="assets/images/404_page.jpg">
      <a id="image404"
         href="https://www.freepik.com/vectors/animal"
         target="_blank">
         Designed by stories - www.freepik.com
      </a>
    </div>
  </div>
</div>
