#image_404 {
  text-align: center;
  width: auto !important;
  height: 85% !important;
  margin: auto;
}

#image_404_attribution {
  text-align: center;
  margin: auto;
  font-size: 0.75rem;
}

img {
  width: auto !important;
  height: 85% !important;
  margin: auto;
}
