<div id="appointmentPage" class="container-fluid">
  <div class="row no-gutters align-items-center">
    <div class="col text-center">
      <h2 *ngIf="selectedId==0"><i class="fa fa-user-md"></i> Let's go to the vet!</h2>
      <h2 *ngIf="selectedId!=0"><i class="fa fa-user-md"></i> Wanna change something?</h2>
      <form id="appointmentForm"
            class="text-left mt-3"
            *ngIf="this.appointmentForm"
            [formGroup]="appointmentForm"
            (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="vet_id">Choose your vet</label>
          <select id="vet_id"
                  class="from-control"
                  name="vet_id"
                  formControlName="vet_id">
            <option [ngValue]=null>Pick one</option>
            <option *ngFor="let vet of vets" [ngValue]="vet.id">
              {{vet.name}}
            </option>
          </select>
        </div>
        <p *ngIf="appointmentForm.controls.vet_id.invalid"
           class="validationError">This field cannot be empty.
        </p>
        <div class="form-group">
          <label for="pet_id">Choose your pet</label>
          <select id="pet_id"
                  class="from-control"
                  name="pet_id"
                  formControlName="pet_id">
            <option [ngValue]=null>Pick one</option>
            <option *ngFor="let pet of pets" [ngValue]="pet.id">
              {{pet.name}}
            </option>
          </select>
        </div>
        <p *ngIf="appointmentForm.controls.pet_id.invalid"
           class="validationError">This field cannot be empty.
        </p>
        <div class="form-group">
          <label for="date">Choose the date</label>
          <input id="date"
                 type="date"
                 class="form-control"
                 formControlName="date">
        </div>
        <p *ngIf="appointmentForm.controls.date.invalid"
           class="validationError">This field cannot be empty.
        </p>
        <div class="form-group">
          <label for="time">Choose the time</label>
          <input id="time"
                 type="time"
                 class="form-control"
                 formControlName="time">
        </div>
        <p *ngIf="appointmentForm.controls.time.invalid"
           class="validationError">This field cannot be empty.
        </p>
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea id="notes"
                    class="form-control"
                    formControlName="notes">
          </textarea>
        </div>
        <div class="row no-gutters">
          <div class="col">
            <!-- TO DO - when editing appointment, Cancel button must direct to appointment info, not list -->
            <button type="submit"
                    class="btn btn-danger mr-2"
                    routerLink="/main/appointments">Cancel
            </button>
          </div>
          <div class="col">
            <button type="submit"
                    class="btn btn-custom ml-2"
                    [disabled]="!appointmentForm.valid">Save
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col text-center">
      <img class="img-fluid" src="assets/images/appointment_page.jpg">
      <a id="appointmentImage"
         href="https://www.freepik.com/vectors/dog">Designed by stories - www.freepik.com
      </a>
    </div>
  </div>
</div>
